/* Importação de FonTE */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --azul-dnc: #0C70F2;
    --preto-dnc: #303030;
    --cinza-hover: #C9C9C9;

    --fonte-padrao: 'inter';
}

body {
    margin: 0px;
    /* Margem externa */
    padding: 0px;
    /* Margem interna */
    background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%) #303030;
    background-repeat: no-repeat;
    

}

#principal {
    width: 100%;
    height: 100px;
    border: 1px solid black;
    background-color: var(--preto-dnc);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #BABABA;
}

#menu {
    display: flex;
    width: 55%;
    justify-content: space-around;
    align-items: center;
    margin-left: 5%;
}

#principal div a {
    font-family: var(--fonte-padrao);
    font-size: 25px;
    font-weight: 600px;
    color: #FFFFFF;
    text-decoration: none;
}

#principal div a:hover {
    color: var(--cinza-hover);
}

#principal button {
    margin-right: 5%;
    background: var(--azul-dnc);
    border: 0px;
    height: 40px;
    width: 80px;
    font-family: var(--fonte-padrao);
    font-size: 20px;
    font-weight: 600px;
    color: #FFFFFF;
    box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25);
    cursor: pointer;
}

/* Seção Principal do site */

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

    header{
        color: #FFFFFF;
        font-family: var(--fonte-padrao);
    }

    header h1{
        text-transform: uppercase;
        font-size: 80px;
        font-weight: 800;
        text-align: center;
        margin-bottom: 20px;
    }

    header h2{
        text-align: center;
        font-size: 40px;
        font-weight: 700px;
        
        margin-bottom: 100px;
    }

    header .invert{
        background-color: black;
        font-weight: bold;
        padding:5px;
    }

    /* Formulario */

    form{
        color: white;
        font-family: var(--fonte-padrao);
        font-size: 30px;
        font-weight: 600;
        width: 600px;
    }

    .form-group{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    form input{
        border-radius: 5px;
        height: 30px;
        border: 0px;
        font-size: 20px;
        padding: 10px;
        background-color: (255, 255, 0.9);
    }

    form label{
        margin: 1px 0px 1px 0px;
    }

    form imput::placeholder{
        color: rgba(57, 57, 57, 0.5);
    }

    .checkbox-itens label{
        font-size: 20px;
    }

    .checkbox-itens{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    input[type="checkbox"]{
        transform: scale(1.7);
    }

    input[type="submit"]{
        background-color: rgba(12, 112, 242, 0.9);
        width: 100%;
        height: 56px;
        color: white;
        font-size: 32px;
        margin-top: 70px;
        box-shadow: 0px 6px 4px rgba(12, 112, 242, 0.25);
        cursor: pointer;
    }
    /* Footer */

    footer{
        width: 100%;
        background-color: var(--azul-dnc);
    }

    footer .linha1{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    footer ul{
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    footer nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 330px;
    }

    footer h5{
        text-align: center;
        color: #FFFFFF;
        font-weight: 800px;
        font-size: 25px;
        font-family: var(--fonte-padrao);
        background-color: var(--preto-dnc);
        border-radius: 10px;
        padding: 10px 10px 10px 10px;
        margin-bottom: 0px;
    }

    footer ul li{
        text-align: center;
        color: #FFFFFF;
        font-weight: 600px;
        font-size: 25px;
        font-family: var(--fonte-padrao);
        margin: 20px 0px 20px 0px;
    }

    footer ul li a{
        color: #FFFFFF;
        text-decoration: none;
    }

    footer ul li a:hover{
        color: var(--cinza-hover);
    }

    footer .endereco{
        font-weight: 600;
        font-size: 18px;
        font-family: var(--fonte-padrao);
        color: #FFFFFF;
        text-align: center;
        width: 20%;
    }

    footer .linha2{
        height: 35px;;
        display: flex;
        justify-content: center;
        margin: 0px;
        padding: 10px;
    }

    footer .linha2 a{
        font-family: var(--fonte-padrao);
        font-size: 18px;
        font-weight: 600px;
        color: #FFFFFF;
        text-decoration: none;
        padding: 5px;
    }

    footer .linha2 a:hover{
        color: var(--cinza-hover);
    }

    footer .linha2 a:first-child{
        border-right: 3px solid #FFFFFF;
    }

@media only screen and (max-width: 600px){
    
    /* Menu */

    #principal{
        display: flex;
        height: auto;
    }

    #menu{
        flex-direction: column;
        width: 100%;
        padding: 0px;
    }

    #menu a{
        display: flex;
        height: 50px;
        align-items: center;
    }

    #principal button{
        width: 100%;
        margin: 0px;

    }

    /* Section */

    section h1{
        font-size: 38px;
    }

    section h2{
        font-size: 28px;
        padding-right: 15px;
        padding-left: 15px;

    }

    form{
        width: 95%;
        font-size: 20px;

    }

    .checkbox-itens label{
        font-size: 17px;

    }

    

}