/* Importação de FonTE */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    margin: 0px;
    /* Margem externa */
    padding: 0px;
    /* Margem interna */
}

#principal {
    width: 100%;
    height: 100px;
    border: 1px solid black;
    background-color: #303030;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #BABABA;

}

#menu {
    display: flex;
    width: 55%;
    justify-content: space-around;
    align-items: center;
    margin-left: 5%;
}

#principal div a {
    font-family: 'Inter';
    font-size: 25px;
    font-weight: 600px;
    color: #FFFFFF;
    text-decoration: none;
}

#principal div a:hover {
    color: #CCCCCC;
}

#principal button {
    margin-right: 5%;
    background: #0C70F2;
    border: 0px;
    height: 40px;
    width: 80px;
    font-family: 'inter';
    font-size: 20px;
    font-weight: 600px;
    color: #FFFFFF;
    box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25);
    cursor: pointer;
}